{
  "root": true,
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "node_modules",
    "build",
    "coverage"
  ],
  "plugins": [
    "prettier",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:eslint-comments/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "unicorn/prefer-module": "off"
  }
}
